@model DesignPage5.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dob)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.timeleft)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.timeleft)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.email">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
